@using src.Models.Api;
@model UserApiModel
<!doctype html>
<html>
<head>
    <title></title>
</head>
<body style="margin: 0; padding: 0">
    <table style="height: 200px; width: 100%;"></table>
    <table style="width: 100%;">
        <tr>
            <td>
                <img src="http://localhost:4118/Pictures/nooblike.jpg" alt="Cover" style="max-width:100%; height: auto" />
            </td>
        </tr>
    </table>
</body>
</html>